@import './styles/sidebar.css';
@import './styles/authForm.css';
@import './styles/navBar.css';
@import './styles/alljumps.css';
@import './styles/addJump.css';

body {
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  background-color: #ffff;
}

html {
  height: 100%;
  bottom: 0;
}
