.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.flex-right {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 100vh;
  margin: 5px;
  padding: 5px;
  /* border: 2px solid green; */
}

.right-top-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  height: 25vh;
  margin: 1rem;
  /* border: 2px solid blue; */
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.total-freefall-time {
  font-size: 1.5rem;
  font-weight: lighter;
  opacity: 75%;
  margin: 1rem;
}

.total-freefall-time-integers {
  font-size: 2.5rem;
}

.right-bottom-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  margin: 1rem;
  /* border: 2px solid red; */
}

.right-bottom-column-left-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  /* border: 2px solid red; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.recent-jumps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  /* border: 1px solid black; */
  margin-bottom: .5rem;
  /* border-radius: 10px; */
}

.recent-jump-info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 70%;
  justify-content: space-between;
  margin: 1rem;
}

.recent-jumps img {
  margin: .75rem;
}

.jump-number {
  align-self: center;
  margin: 1rem;
}

.view-jump-details {
  border-radius: 10px;
  height: 1.5rem;
  background-color: #658fff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .2s;
}
.view-jump-details:hover {
  background-color: #336dff;
}

/* RIGHT SIDE OF BOTTOM COLUMN */
.right-bottom-column-right-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  /* border: 2px solid red; */
}

.recent-jumps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  width: 100%;
  height: 20%;
  /* border: 1px solid black; */
  margin-bottom: .5rem;
  /* border-radius: 10px; */
}

button.recent-jumps {
  /* background-color: rgb(87, 126, 219); */
  background-color: #7eba96;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  font-size: 2rem;
  border-style: none;
  vertical-align: middle;
  text-align: center;
  /* padding-left: 5rem;
  padding-top: 2.7rem; */
  transition-duration: .2s;
}

button.recent-jumps:hover {
  /* background-color: #3A6DD8; */
  background-color: #69af85;
  border-radius: 10px;
  width: 100%;
  font-size: 2rem;

}

link {
  color: #fff;
}

a {
  color: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #202124;
}

h3, h4, h5 {
  color: #202124;
}

h4 {
  font-weight:normal;
}


/* SIDEBAR STYLING */
.user-avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style:solid;
    /* border-color: #202124; */
    border-color: #ffff;
    margin-top: 3.5rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 1rem;
  }

  .user-name {
    vertical-align: middle;
    margin-left: 3rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }


.sidebar {
    width: 220px;
    flex-shrink: 0;
    /* background-color: #f6f8fc; */
    background-color: #1d2333;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #ffff;
    height: 100%;
    overflow: auto;
}

.sidebar-item{
    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
  }
  .sidebar-item:hover{
    background-color: #eaebef;
  }

  .sidebar-item.active{
    background-color: #d3e3fd;
    font-weight: bold;
  }

  .sidebar-title{
    display: flex;
    /* font-size: 1.2em; */
    justify-content: space-between;
  }
  .sidebar-title span i{
    display: inline-block;
    width: 1.5em;
  }
  .sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
  }
  .sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
    font-size: .8rem;
  }
  .sidebar-item.open > .sidebar-content{
    height: auto;
  }
  
  .sidebar-item.plain{
    /* color: #202124; */
    color: #ffff;
    text-decoration: none;
  }
  .sidebar-item.plain:hover{
    text-decoration: underline;
    /* background-color: #eaebef; */
    background-color: #2e3750;
  }
  .sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
  }

  .sidebar-item:hover{
    /* background-color: #eaebef; */
    background-color: #2e3750;
  }

  .sidebar-item.sidebar-item.plain:focus{
    /* background-color: #d3e3fd; */
    background-color: #2e3750;
    font-weight: bold;
  }

  .logout-btn {
    border: none;
    display: inline-block;
    width: 1.7em;
    background-color: inherit;
    /* color: #202124; */
    color: #ffff;
    padding: .75em 1em;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }

  .bi-box-arrow-right {

    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
  }

